body {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', serif; /* O una fuente gótica personalizada */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  h1 {
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    color: red;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  
  button {
    background-color: #ff0000;
    color: white;
    font-weight: bold;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #c00;
  }
  
  .song-info {
    background-color: #222;
    padding: 20px;
    border: 2px solid red;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }